<%- include header %>
<p><h2><a href='/u/<%= post.name%>/<%= post.time.day%>/<%= post.title%>'></a></h2></p>
<p>
作者：<a href="/u/<%= post.name%>"><%= post.name%></a>|
日期：<%= post.time.minute%>
</p>
<p>
<%  if (user&&(user.name==post.name)){ %>
<a href="/edit/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">编辑</a>
<a href="/remove/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">删除</a>
<%  } %>
</p>
<p><%- post.post%></p>

<%- include comment %>
<%- include footer %>